/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.section {
    border: 1px solid #edf2f9;
    padding: 20px;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 100%;
}